[submodule "pffft"]
	path = pffft
	url = git@github.com:marton78/pffft.git
[submodule "eigen/eigen3"]
	path = eigen/eigen3
	url = https://gitlab.com/libeigen/eigen.git
[submodule "openblas"]
	path = openblas
	url = git@github.com:OpenMathLib/OpenBLAS.git
